# Build results
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docview

# Visual Studio
.vs/
*.rsuser

# Rider
.idea/

# NuGet
*.nupkg
*.snupkg
packages/
project.lock.json
project.assets.json

# OS
.DS_Store
Thumbs.db

# Logs & temp
*.log
*.tmp